.input-box {
  min-width: 200px;
  border: #d8e2ef solid 1px;
  border-radius: 4px;
  display: flex;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  .input-title {
    border-right: #d8e2ef solid 1px;
    width: fit-content;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    background: #fafbfe;
    font-size: 12px;
    color: #7e878f;
  }
  .element {
    flex: 1;
  }
  ::v-deep .el-input__inner {
    border: none;
  }
} 
